flows.json
[{"id":"fc133b79.5a7068","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4f020ffd.fad12","type":"http response","z":"fc133b79.5a7068","name":"","statusCode":"","headers":{},"x":610,"y":340,"wires":[]},{"id":"baf9a0bd.a25ba","type":"function","z":"fc133b79.5a7068","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["4f020ffd.fad12"]]},{"id":"c261466f.72c6a8","type":"http in","z":"fc133b79.5a7068","name":"","url":"command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":340,"wires":[["baf9a0bd.a25ba"]]},{"id":"5cf458b7.45c098","type":"ibmiot out","z":"fc133b79.5a7068","authentication":"apiKey","apiKey":"7b4838c3.24cc08","outputType":"cmd","deviceId":"123456","deviceType":"Raspberry.pi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":160,"wires":[]},{"id":"e5b31613.b1e998","type":"ui_button","z":"fc133b79.5a7068","name":"","group":"912d70f2.8009b","order":4,"width":0,"height":0,"passthru":false,"label":"mortoroff ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"mortor off\"}","payloadType":"json","topic":"","x":200,"y":220,"wires":[["5cf458b7.45c098","ab5577da.fa34d8"]]},{"id":"e74abf32.317b5","type":"ui_button","z":"fc133b79.5a7068","name":"","group":"912d70f2.8009b","order":5,"width":0,"height":0,"passthru":false,"label":"motoron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":160,"y":120,"wires":[["5cf458b7.45c098","904c71c2.99472"]]},{"id":"ab5577da.fa34d8","type":"play audio","z":"fc133b79.5a7068","name":"","voice":"","x":460,"y":240,"wires":[]},{"id":"904c71c2.99472","type":"play audio","z":"fc133b79.5a7068","name":"","voice":"","x":360,"y":80,"wires":[]},{"id":"7b4838c3.24cc08","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"912d70f2.8009b","type":"ui_group","z":"","name":"Default","tab":"b553bc13.42519","order":1,"disp":true,"width":"6","collapse":false},{"id":"b553bc13.42519","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]